extend layout

block topbar
  .topbar-left
    ol.breadcrumb
      li.crumb-active
        a(href='/') Blank
      li.crumb-icon
        a(href='/admin')
          span.glyphicon.glyphicon-home
      li.crumb-link
        a(href='/admin') Home
      li.crumb-trail Blank

block content
