doctype html
html
  head
    // META
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // FAVICON
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    // SEO
    meta(name='Description', content='')
    meta(name='Rating', content='')
    meta(name='Author', content='')
    meta(name='Robots', content='index,follow')
    // CONFIG
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/lib/jquery-ui.min.css')
    link(rel='stylesheet', href='css/main.css')
    // we can live with IE
    //if lt IE 9 
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    //if lte IE 8 
      link(rel='stylesheet', type='text/css', href='css/ie.css')
    //if lt IE 7 
      script(type='text/javascript').
        window.location.href="/ie6_close/index_ru.html";
    title TUBER P2P
  body
    //if lt IE 10
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // app
    .app
      // header
      header.header
        a.logo(href='/') Tuber P2P
        ul.nav
          li
            a(href='/') Home
          li
            a(href='/dashboard')
              | My Parcels - 
              span 2
          li
            a(href='/faq') FAQ
          li
            a(href='/') Prices
      // header section
      block header  
      // content
      block content
      // footer
      footer.footer
        .container
          .nav
            h4 HOME
            ul
              li
                a(href='/') Send a parcel
              li
                a(href='/') Deliver parcel
              li.devider
              li
                a(href='/') Parcel status
          .nav
            h4 FAQ
            ul
              li
                a(href='/faq') How it works?
              li
                a(href='/faq') How to register?
              li
                a(href='/faq') Terms and conditions
          .nav
            h4 PRICES
            ul
              li
                a(href='/')
                  | Common prices 
                  br
                  | for Germany
              li
                a(href='#') Why better than Post?
          .clear
          ul.terms
            li
              a(href='/')
                i.fa.fa-align-left
                |  Booking Terms &amp; Conditions
            li
              a(href='/')
                i.fa.fa-align-left
                |  Web usage Terms &amp; Conditions
          span.title Tuber P2P
          span.copyright
            small &copy; 2015 Delticom. ALL RIGHTS RESERVED.
            em Hanover, Germany
    // /app
    // JS
    script(src='/vendor/jquery/jquery-1.11.1.min.js')
    script(src='/vendor/jquery/jquery-migrate-1.1.1.min.js')
    script(src='/vendor/jquery/jquery.maskedinput-1.2.2.min.js')
    script(src='/vendor/jquery/jquery.ui.widget.min.js')
    script(src='/vendor/jquery/jquery.selectBoxIt.min.js')
    script(src='/vendor/jquery/jquery.ui.datepicker.min.js')
    script(src='/vendor/jquery/feelform.min.js')
    script(src='/vendor/jquery/jquery.bpopup.min.js')
    script(src='/vendor/jquery/jquery.easing.min.js')
    script(src='js/main.js')
    block script