extend layoutm

block content
  // content
  section.section
    h1 Tuber parcels delivery
    ul.breadcrumbs
      li You are here
      li
        i.fa.fa-angle-double-right
        span Registration
    h2.centred_title
      | Call us on  
      span +49 511 879 893 02
      br
      strong or
      |  fill in an enquiry below.
    .container.bordered
      form.form.js-validate(action='/api/user', method='POST')
        figure.profile
          img(src='/img/profile.png', alt='')
          input#uplad_image.uplad_image(type='file')
          label(for='uplad_image') Upload my picture
        .form-margined
          h3 About me
          label(for='first_name') FIRST NAME*
          input#first_name.required(type='text', placeholder='Thierrry', name='firstname')
          label(for='last_name') LAST NAME*
          input#last_name.required(type='text', placeholder='Delesalle', name='lastname')
          label(for='first_name') COMPANY (optional)
          input#first_name(type='text', name='company')
          label(for='vat') VAT (optional)
          input#vat(type='text', placeholder='DE123456789', name='vat')
          label(for='address_str') ADDRESS (street)*
          input#address_str.required(type='text', placeholder='Bruhlstr', name='address1')
          label(for='address_num') ADDRESS (number)*
          input#address_num.required(type='text', placeholder='11', name='address2')
          label(for='zip') ZIP CODE*
          input#zip.required(type='text', placeholder='30169', name='zip')
          label(for='city') CITY*
          input#city.required(type='text', placeholder='Hannover', name='city')
          label(for='country') COUNTRY*
          input#country.required(type='text', placeholder='Germany', name='country')
          label(for='mobile') MOBILE PHONE*
          input#mobile.required(type='text', placeholder='0049 151 4611 8937', name='phone')
          label(for='email') E-MAIL*
          input#email.required.email(type='text', name='email')
          label(for='email_again') E-MAIL CONFIRMATION*
          input#email_again.required.email(type='text')
          p#email_differs(style='color: red; display: none;') E-MAILS DIFFERS
          label(for='password') PASSWORD*
          input#password.required(type='password', name='password')
          p#password_tooshort(style='color: red; display: none;') PASSWORD TOO SHORT
          label(for='password_again') PASSWORD CONFIRMATION*
          input#password_again.required(type='password')
          p#password_differs(style='color: red; display: none;') PASSWORDS DIFFERS
          input(type='hidden', name='driver', value='#{driver}')
          p#err11000(style='color: red; display: none;') USER ALREADY REGISTERED
          button.orange_button CONFIRM YOUR DATAS
          a.more(href='/?m=1') GO TO &ldquo;SEND MY PARCEL&rdquo;
  // promo
  section.promo
    .container
      h2 Parcel delivery
      p
        | Tuber is a parcels delivery service for p2p fast delivery.
        br
        | Check for details
      a(href='/?m=1')
        | SUBSCRIBE
        br
        | HERE

block script
  script(type='text/javascript').
    $('.js-validate').submit(function() {
      $('#zip').removeClass('error');
      $('#email').removeClass('error');
      $('#email_again').removeClass('error');
      $('#password').removeClass('error');
      $('#password_again').removeClass('error');
      $('#email_differs').hide();
      $('#password_differs').hide();
      $('#password_tooshort').hide();
      $('#err11000').hide();
      if(this[11].value != this[12].value) {
        // email differs
        $('#email_differs').show();
        $('#email').addClass('error');
        $('#email_again').addClass('error');
        return false;
      }
      if(this[13].value != this[14].value) {
        // password differs
        $('#password_differs').show();
        $('#password').toggleClass('error');
        $('#password_again').toggleClass('error');
        return false;  
      }
      if(this[13].value.length < 5) {
        $('#password_tooshort').show();
        $('#password').toggleClass('error');
        return false;
      }
      regdata = $(this).serialize();
      var country = this[9].value;
      var zip = this[7].value;
      var regurl = this.action;
      $.ajax({
        type: 'POST',
        url: '/search/zip',
        data: 'zip='+zip+'&country='+country,
        success: function(geodata) {
          if(geodata.latitude && geodata.longitude) {
            regdata = regdata + '&latitude='+geodata.latitude+'&longitude='+geodata.longitude;
            console.log('Found zip coordinates', geodata);
            $.ajax({
              type: 'POST',
              url: regurl,
              data: regdata,
              success: function(data) {
                console.log('Registered', data);
                $.post('/login', regdata, function(data) {
                  console.log('Login performed', data);
                  location.href = '/?m=1';
                });
              },
              error: function(err) {
                console.log("Registration error", err);
                if(err.responseJSON.raw.code == 11000) {
                  $('#err11000').show();
                }
              }});
          } else {
            $('#zip').addClass('error');
            console.log('Zip error', geodata);
          }
        },
        error: function() {
          $('#zip').addClass('error');
        }
      });
      return false;
    });

