extend layoutm

block content
  // content
  section.section
    h1 FAQs: Account Information and Access
    .container
      .form-block
        h3 View questions about
        .faq_select-mobile
          select.js-select(name='')
            option(value='Account information and access') Account information and access
            option(value='Parcels delievery') Parcels delievery
            option(value='Prices') Prices
            option(value='How get a money') How get a money
      .faq_select
        ul.faq_select-ul
          li
            a(href='#') Show all Answers
          li
            a(href='#') Hide all
      ul.faq_accordion.js-accordion
        li
          span
            i.icons-faq_arrow
            | How do I access my account?
          p
            | Using 
            a(href='#') Online Banking
            |  or 
            a(href='#') Mobile Banking
            | , you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.
        li
          span
            i.icons-faq_arrow
            | How do I find my account number?
          p
            | Using 
            a(href='#') Online Banking
            |  or 
            a(href='#') Mobile Banking
            | , you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.
        li
          span
            i.icons-faq_arrow
            | How do I find the nearest Bank of America banking center?
          p
            | Using 
            a(href='#') Online Banking
            |  or 
            a(href='#') Mobile Banking
            | , you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can alsoaccess your account by phone, ATM or the nearest banking center. Find a banking center.
        li
          span
            i.icons-faq_arrow
            | What is a banking center?
          p
            | Using 
            a(href='#') Online Banking
            |  or 
            a(href='#') Mobile Banking
            | , you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can alsoaccess your account by phone, ATM or the nearest banking center. Find a banking center.
        li
          span
            i.icons-faq_arrow
            | What are your hours?
          p
            | Using 
            a(href='#') Online Banking
            |  or 
            a(href='#') Mobile Banking
            | , you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.
        li
          span
            i.icons-faq_arrow
            | How do I change my address?
          p
            | Using 
            a(href='#') Online Banking
            |  or 
            a(href='#') Mobile Banking
            | , you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.
        li
          span
            i.icons-faq_arrow
            | How do I change my legal name?
          p
            | Using 
            a(href='#') Online Banking
            |  or 
            a(href='#') Mobile Banking
            | , you can access your Bank of America checking, savings accounts, CD, IRA, credit card, mortgage and line of credit account information. You can also access your account by phone, ATM or the nearest banking center. Find a banking center.
