.container.bordered.status
  a.span(href='/dashboard?m=1') #{__('Current Status')}
  br
  strong
    | #{__('Order no:')}
    em Sa12345678
  br
  a(href='/dashboard?m=1') #{__('1 kg postage, now on the way to hamburg, expected delivery in 8 hours')}
