extend layoutm

block content
  // content
  section.section
    h1 Tuber parcels delivery
    ul.breadcrumbs
      li You are here
      li
        i.fa.fa-angle-double-right
        a(href='/?m=1') Home
      li
        i.fa.fa-angle-double-right
        span About my parcel
    .container
      form.form#inputform(action='/make/parcel', method='POST')
        .form-block.bordered
          i.icons-profile
          h3 From
          p
            input#address(type='checkbox', name='fromPersonProfile')
            label.map_checkbox(for='address') Choose my profile address
            i.icons-arrow.fill_adress1
          h3 To
          p
            input#address1(type='checkbox', name='toPersonProfile')
            label.map_checkbox(for='address1') Choose my profile address
            i.icons-arrow.fill_adress1
          input#packetshop(type='checkbox', name='usePacketshop')
          label.packetshop(for='packetshop') To reduce costs, I am willing to drop the package in a Packetshop close to me.
          //a.orange_button(href='#') GO TO &quot;MY PROFILE&quot;
        .form-block.bordered
          i.icons-parcel
          h3(align='left') ABOUT MY PARCEL
          .form-sizes_scroll
            ul.form-sizes
              li
                span.up
                  i.fa.fa-chevron-up
                input.numbers(type='text', placeholder='0', name='weight', value='10')
                em kg
                span.down
                  i.fa.fa-chevron-down
                strong Weight
              li
                span.up
                  i.fa.fa-chevron-up
                input.numbers(type='text', placeholder='0', name='length', value='10')
                em cm
                span.down
                  i.fa.fa-chevron-down
                strong Length
              li
                span.up
                  i.fa.fa-chevron-up
                input.numbers(type='text', placeholder='0', name='width', value='10')
                em cm
                span.down
                  i.fa.fa-chevron-down
                strong Width
              li
                span.up
                  i.fa.fa-chevron-up
                input.numbers(type='text', placeholder='0', name='depth', value='10')
                em cm
                span.down
                  i.fa.fa-chevron-down
                strong Depth
          //input#declare(type='checkbox', name='userAgreementContent')
          //label.declare(for='declare')
            | I officially declare that non of the products transported areprohibited neither in origin country, neither in destination country. It is under my responsabili
        .form-block.bordered
          i.icons-timing
          h3 About the timing
          .confirmation-select-mobile
            span.placeholder1 Parsel can be picked up starting
            span.placeholder2 Parsel should arrive before
            input.pl1#pickupDate(type='datetime-local', placeholder='')
            input.pl2#arriveDate(type='datetime-local', placeholder='')
          input#timing(type='checkbox', name='userAgreementTimes')
          label.timing(for='timing') I am aware that the time frame influences TUber prices.
        //.form-block.bordered
          i.icons-insurrance
          h3 About insurrance
          input(type='text', placeholder='Packet is insured until the value XXX€', name='insurrance')
        button.orange_button Send
        .clear

block script
  script(type='text/javascript').
    $('#inputform').submit(function(event) {
      event.preventDefault();
      $('#pickupDate').removeClass('error');
      $('#arriveDate').removeClass('error');
      pickupDate = moment($('#pickupDate').attr('value'))
      d1 = moment().diff(pickupDate, 'days');
      if(!pickupDate.isValid() || d1 > 0) {
        $('#pickupDate').addClass('error');
        return false;
      }
      arriveDate = moment($('#arriveDate').attr('value'))
      d2 = moment().diff(arriveDate, 'days');
      if(!arriveDate.isValid() || d2 > d1 || d2 < -30) {
        $('#arriveDate').addClass('error');
        return false;
      }
      //$('#pickupDate').attr('value', pickupDate.format('DD.MM.YYYY'));
      //$('#arriveDate').attr('value', arriveDate.format('DD.MM.YYYY'));
      regdata = $(this).serialize();
      if(!this[0].checked) {
        regdata = regdata + '&fromPerson.firstName=Sherlok&fromPerson.lastName=Holms&fromPerson.address1=Baker%20st.&fromPerson.address2=221b&fromPerson.zip=3213&fromPerson.city=London&fromPerson.country=England&fromPerson.phone=123456&fromPersons.email=sherlok@me.com';
      }
      if(!this[1].checked) {
        regdata = regdata + '&toPerson.firstName=Sherlok&toPerson.lastName=Holms&toPerson.address1=Baker%20st.&toPerson.address2=221b&toPerson.zip=3213&toPerson.city=London&toPerson.country=England&toPerson.phone=123456&toPersons.email=sherlok@me.com';
      }
      regdata = regdata + '&pickupDate='+pickupDate.format();
      regdata = regdata + '&arriveDate='+arriveDate.format();
      $.ajax({
        type: 'POST',
        url: this.action,
        data: regdata,
        success: function(data) {
          console.log('Result', data);
          location.href = '/price/'+data.parcel+'?m=1';
        },
        error: function(err) {
          console.log("Error", err);
        }});
      return false;
    });
  