link(rel='stylesheet', href='/vendor/pace/pace.radar.css')
script().
  window.paceOptions = { "ajax": true, "document": true, "eventLag": true, "restartOnPushState": true, "restartOnRequestAfter": true, "startOnPageLoad": false }
script( src="/vendor/pace/pace.min.js")
