extend layout

block topbar
  .topbar-left
    ol.breadcrumb
      li.crumb-icon
        a(href='/admin')
          span.glyphicon.glyphicon-home
      li.crumb-link
        a(href='/admin/parcel') Parcels
      li.crumb-active
        a(href='/admin/parcel/id') Parcel

