extend layoutsite

block content
  // content
  section.section
    h1 Password recovery
    | 
    .container
      form.form.transporter.js-validate(action='/', method='GET')
        h3 This is your new password:
        label(for='password') 
        input#password.required(name='password', type='text', placeholder='', value='#{password}' readonly)
        h3 Use your email address and this password for log in.
        button.orange_button Login
        h3 We also sent the password to your email. So we hope you don't forget it any more.

block script
  script(type='text/javascript').
