.container.bordered.status
  span #{__('Current Status')}
  br
  strong
    | #{__('Order no:')}
    em Sa12345678
  br
  em #{__('1 kg postage, now on the way to hamburg, expected delivery in 8 hours')}
